body {
    background-color: #F7F7F7;
    padding-bottom: 80px;
}
* {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
               'Segoe UI', Roboto, sans-serif;
/* padding-bottom: 20px; */
}
