.analytical-container {
  display: flex;
              /* space between circles */
  justify-content: center;   /* center horizontally */
  align-items: center;       /* align vertically */
  flex-wrap: wrap;           /* responsive: wraps on small screens */
}

.analysis-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;

  /* critical */
  width: 100%;
}

h3 {

  font-size: 10px;
  font-weight:600;
  color: #525252;
  padding-left: 20px;
}


@media (max-width: 600px) {
  .analysis-row {
    justify-content:space-around;
  }

  .progress-wrapper {
    transform: scale(0.85);   
  }
}

