
@media (max-width: 600px) {
 
.Form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 10px;
    /* width: 300px; */
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
}





.Form-title{
    color: #2090BD;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
  
}

.TextTab{
    display: flex;
    color: #525252;
    opacity: 90%;
    font-size: 18px;
    font-weight: 700;
    justify-content: space-between;
    padding: 10px;
}

.p1.active{
    color: #2090BD;
    
}
.p2.active{
    color: #2090BD;
   
}


}