.company-card {
  width: 340px;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 16px;
  margin: 12px auto;

  background-color: #ffffff;
  border-radius: 12px;

  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
}


.company-name {
  font-size: 14px;
  font-weight: bold;
}

.round-text {
  font-size: 10px;
  font-weight: bold;
  color: #646464;
  margin-top: 4px;
}
