/* Default: hidden (for desktop) */
.mobile-footer {
  display: none;
}

/* Mobile */
@media (max-width: 600px) {
  .mobile-footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 360px;
    height: 80px;

    background-color: #ffffff;
    justify-content: center;
    align-items: center;

    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .footer-text {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #525252;
    opacity: 90%;
    line-height: auto;
  }
}
