
@media(max-width: 768px){
    .HistoryCard-container{
 margin-top: 200px;
 display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }
    .HistoryCard-container-notopened{
       
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.25);
        width: 340px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content:  space-between;
        margin-bottom: 10px;
       
    }
    .icon{
        margin-right: 10px;
        font-size: 20px;
    }
    .name{
        margin-left: 10px;
        font-size: 14px;
        font-weight: 700;
        color: #646464;
    }
    .HistoryCard-container-opened{
        padding: 14px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.25);
        width: 310px;
        padding: 14px;
        margin-bottom: 10px;
        padding-bottom: 30px;
    }
    .head{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .head .name{
       
        color: #2090BD;
    }
    .head .icon{
       
        margin-right: 0px;
    }
    .round-box{
        display: flex;
        flex-direction: column;

    }

    .round {
        margin-bottom: -5px;
    }
    .kec {
        margin-bottom: -10px;
        font-size: 10px;
    }
    .dept {
        font-size: 10px;
    }
}