@media(max-width:600px){
    .Round-Student-List{
        margin-top: 200px;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        min-height: 450px;
        box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.25);
    }

    .header{
        display: flex;
        align-items: center;
    }

    .header .icon{
        font-size: 24px
       
    }

    .header .title{
        font-size: 14px;
        font-weight: 700;
        color: #2090BD;
        margin-bottom: -10px;
    }

    .header .round-name{
        font-size: 14px;
        font-weight: 700;
        color: #646464;
        /* margin-bottom: -10px; */
    }

    hr{
        /* border: none; */
        border-top: 1px solid #000000;
        margin: 0 0;
    }

    .Round-Student-Container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
         box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.25);
         width: 300px;
         height: 40px;
         border-radius: 10px;
         font-size: 14px ;
            font-weight: 700;
            color: #646464;
            

    }

    .studentName{
        margin-left: 20px;
    }
    .sendIcon{
        margin-right: 20px;
        font-size: 22px;
    }
}