.OrBtn {
    text-align: center;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    /* width: 100%; */
    margin-top:  31px;
    margin-bottom: 31px;
}

.GoogleBtn {
    width: 280px;
    height: 40px;
    background-color: #ffffff;
    border : none;
    border-radius: 25px;
    color: #140F59;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
    margin-left: 10%;
   
}