.student-card {
  width: 320px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 14px;
  margin-bottom: 10px;
  margin-right: 10px;

  background-color: #ffffff;
  border-radius: 8px;

  /* Drop shadow: x=3, y=4, blur=5, black 25% */
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);

  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Text on left */
.student-text {

  font-size: 14px;
  font-weight:600;
  color: #525252;
  padding-left: 10px;
}
/* Icon on right */
.student-icon {
  font-size: 20px; /* 20x20 visual size */
  color: #1e88e5;  /* primary blue */
  line-height: 1;
}

/* Hover effect (optional but nice) */
.student-card:hover {
  transform: translateY(-1px);
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3);
}
